@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao App</h1>
    <p>Saiba mais em: <a href="https://docs.microsoft.com/aspnet/core">contruindo Web apps com ASP.NET Core</a>.</p>
</div>
